*.o
*.os
*.dylib
.import/
*.dblite
*.exp
*.lib
*.obj
*.TMP
logs
Thumbs.db
~
.vs/
build/
[Bb]in
PrinterfaceVR/[Bb]in
[Dd]ebug*/
PrinterfaceVR/obj
PrinterfaceVR/printers.conf
PrinterfaceVR/.mono
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.zip
*.[Pp]ublish.xml
